.card {
  width: 550px;
  height: 90px;
  margin: 18px 40px 30px 150px;
  padding: 0 0 0 26px;
  opacity: 0.8;
  border-radius: 6px;
  border: solid 1px #979797;
  background-color: #fff;
  cursor: pointer;
}
.card:hover{
  opacity: 0.5;
}
.link-card{
  text-decoration:none;
  color: black;
}

.like-container {
  width: 68px;
  height: 90px;
  margin: 0 0 0 16px;
  padding: 35px 22px 33px;
  opacity: 0.06;
  border-radius: 6px;
  border: solid 1px #606060;
  background-color: #606060;
}

.save-icon {
  width: 24px;
  height: 22px;
  background-color: #e7e3e4;
  float: right;
}
